<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.metaDescription }}"/>
    <title>{{ site.name }}</title>
    <link rel="canonical" href="{{ site.url }}" />
    <link rel="stylesheet" href="/site.css">
    <link rel="stylesheet" href="https://use.typekit.net/oxz2jvc.css">
    <link rel="icon" href="{{ site.favicon }}" type="image/svg"/>
    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/focus@3.10.2/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.10.2/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="ALIYTRIY" defer></script>
    <!-- / Fathom -->
</head>
<body 
    class="brand-theme selection:bg-primary-dark/25"
>
    {% include "partials/site-header.njk" %}
    <main tabindex="-1" id="main-content">
        {% block content %}
        {% endblock %}
    </main>
    {% include "partials/site-footer.njk" %}
</body>
</html>
