<div 
    x-data="{
        selectedId: null,
        init() {
            // Set the first available tab on the page on page load.
            this.$nextTick(() => this.select(this.$id('tab', 1)))
        },
        select(id) {
            this.selectedId = id
        },
        isSelected(id) {
            return this.selectedId === id
        },
    }"
    x-id="['tab']"
    x-show="shown" 
    x-transition.opacity.duration.1000ms
    class="activities"
>
    <div>
        <p class="italic mb-8">Click on the tabs to learn more about my activities:</p>
        <!-- Tab list -->
        <!-- Looping through numbers to dynamically generate unique tab ids -->
        {% set counter = cycler(1, 2, 3, 4) %}
        <div 
            x-ref="tablist"
            @keydown.right.prevent.stop="$focus.wrap().next()"
            @keydown.home.prevent.stop="$focus.first()"
            @keydown.page-up.prevent.stop="$focus.first()"
            @keydown.left.prevent.stop="$focus.wrap().prev()"
            @keydown.end.prevent.stop="$focus.last()"
            @keydown.page-down.prevent.stop="$focus.last()"
            role="tablist"
            class="tab-list flow"
        >
            {% for item in activities %}
            <!-- Tab -->
                <button 
                    :id="$id('tab', {{ counter.next() }})"
                    @click="select($el.id)"
                    @mousedown.prevent
                    @focus="select($el.id)"
                    type="button" 
                    :tabindex="isSelected($el.id) ? 0 : -1"
                    :aria-selected="isSelected($el.id)"
                    :class="isSelected($el.id) ? 'text-accent-1' : ''"
                    class="tab-label"
                    role="tab"
                >
                    {{ item.short_title | lower }}
                </button>
            {% endfor %}
        </div>
    </div>

    <!-- Panels -->
    <div class="relative">
        {% set counter2 = cycler(1, 2, 3, 4) %}
        {% set counter3 = cycler(1, 2, 3, 4) %}
        {% for item in activities %}
        <!-- Panel -->
            <section
                x-show="isSelected($id('tab', {{ counter2.next() }}))"
                x-transition:enter="ease-out duration-1000"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                :aria-labelledby="$id('tab', {{ counter3.next() }})"
                role="tabpanel"
                class="tab-panel relative transition-all flow"
            >
                <h2 class="hidden md:block">{{ item.title | lower }}</h2>
                <div class="flow">
                    {{ item.body | safe }}
                </div>
            </section>
        {% endfor %}
    </div>
</div>
    