<footer 
    x-data="{ shown: false }"
    x-intersect.full.once="shown = true"
    class="site-footer"
>
    <div 
        x-show="shown" 
        x-transition.opacity.duration.1000ms
        style="display: none;"
        class="content-wrapper"
    >
        <a href="/">© 2023 {{ site.name | lower }}</a>
        <div class="mt-6 md:mt-0">
            <ul class="colophon | flex space-x-4">
                <li><strong>Headings:</strong> {{ site.colophon.headings }}</li>
                <li><strong>Body:</strong> {{ site.colophon.body }}</li>
                <li><strong>Design:</strong> <a href="{{ site.colophon.designerLink }}" target="_blank">
                    {{ site.colophon.designer }}</a></li>
            </ul>
        </div>
        <ul class="flex space-x-2 mt-6 md:mt-0">
            {% for item in site.socialLinks %}
                <li>
                    <a href="{{ item.url }}" target="_blank" class="hover:opacity-75">
                        <i class="fa-brands fa-{{ item.icon }} w-6 h-6"></i>
                        <span class="sr-only">{{ item.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</footer>